.post {
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08);
  margin-bottom: 50px;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  & > div {
    padding: 40px;

    p {
      white-space: pre-line;
    }
  }

  &-title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    display: block;
    font-family: "ProximaNova", sans-serif;
    text-transform: uppercase;
    color: #000;
  }

  &-footer {
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
  }

  &-date {
    color: #666;
    font-style: italic;
  }
}
