@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  & > div {
    height: 100%;
    margin-left: 175px;

    main {
      background: #fff;
      box-shadow: 0 1px 20px rgba(50, 50, 50, 0.5);
      max-width: 1200px;
      margin: 5em auto 2em;
      padding: 2em;
      min-height: 15rem;
    }
  }
}
