@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/devtools-npm/
registry=https://registry.npmjs.org/
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:_auth=${auth}
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth=true
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email=david.moore@deque.com
//registry.npmjs.org/:_authToken=${authToken}
