name: Cypress Tests

on: [push]
env:
  auth: ${{secrets.AUTH}}
  authToken: ${{secrets.AUTHTOKEN}}


jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          test: npm run cy:run
      - name: add and commit
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version .

